.s-education-state {
  
  .container {
    border-top: 1px solid #eee;
  }
  
  p {
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
  }
  
  .chart {
    background: #B4B4B1;
    width: 100%;
    height: 400px;
    margin-top: 4rem;
  }
}