.s-hero {
  &__title {
    font-weight: inherit;
    font-size: 36px;
    margin-bottom: 1em;
  }
  
  &__img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  
  &__subtitle {
    width: 80%;
    margin-left: 20%;
    text-align: right;
    margin-top: 1em;
  }
}